[2013-05-29 04:34] skyebook opened #3 "preserve-versions flag always obstructs FILE argument"
First, this is a super-handy gem, thank  you :+1:

I'm interested in the preserve-versions option offered but have not been able to make the command run when including this flag.  I tried all kinds of yes/true/no-arg formatting until looking at the code and seeing that it seemed to indeed function as a flag (at least, since changing how it worked in 73a1e45, after Pull Request #1 got merged)
### S

[2013-05-31 17:02] #3 closed, assigned to nobody

[2013-06-02 12:38] fanxu opened #4 "Add support to choose different aws region"
Hi Ken,

Here is the error messge when I'm trying use deb-s3 to upload my deb.
My apt repo on s3 was initialized using reprepro, and it is functional correctly.
BTW, my desktop is running ubuntu 12.04

seems like errors when parsing the aws response, would you pls take some time to look into it, thanks in advance:-)

[2013-06-07 15:09] #4 closed, assigned to krobertson

[2013-08-15 10:13] hjrnunes opened #9 "Fatal error: Start tag expected, '<' not found at :1."
Hi,

I get this when I try to upload a package to my empty bucket.

On the blogpost it says that if it's the first package, all the necessary files will be created. Is this accurate? Or does a repository structure need be created before hand (e.g. via reprepro)?

[2013-08-15 14:20] hjrnunes opened #10 "deb-s3 seems to hang on upload"
Hi.

When trying to upload a package to an empty bucket, deb-s3 seems to hang.

Here's the command:

[code]

here's what is shown:

[code]

Nothing happens after this. It seems to hang. I monitored traffic, and while initially it seems to send data to AWS, it stops after a few seconds, and hangs indefinitely.
Is there a way to further diagnose this? Or is something wrong with my command?

When I i

[2013-08-15 14:27] hjrnunes opened #11 "OS X: No such file or directory"
When doing

[code]

on OSX 10.8 I get:

[code]

Also, not sure how and if it's related, but the package _does_ contain control.tar.gz (it's built with fpm).

This doesn't seem to happen on Ubuntu 12.04LTS.

[2013-08-29 18:38] shutej opened #12 "Origin would be nice to have!"
I'd like to enable unattended-upgrades, per this:

http://plusbryan.com/my-first-5-minutes-on-a-server-or-essential-security-for-linux-servers

However, to follow those instructions, the release.rb file would need to be changed to do "Origin" properly, per these instructions:

http://askubuntu.com/questions/87849/how-to-enable-silent-automatic-updates-for-any-repository

I opened it and started lo

[2013-08-31 10:12] sgo opened #13 "update index without upload when already in pool"
Sometimes I want to promote a package to a different component to support staging environments. So I use the components unstable, releasecandidate and stable.
Currently I have to re-upload the package in order to install them in releasecandidate or stable but it is actually already in the pool so it would be faster if we could skip this step.

[2013-09-14 17:25] cbarraford opened #14 "config file"
Be nice is deb-s3 had a config file with the default bucket name, aws keys, etc.

[2013-09-14 17:25] cbarraford opened #15 "delete a package"
Doesn't look like you can delete a package from the repo. Be nice to add.

[2013-10-01 20:50] jgod opened #18 "Sources.gz"
I don't know if this is the right place for this (I'm new at managing repo's), but my machine complains when I use the repo this generated, because it can't find a Sources.gz. How do you make a Sources.gz and would this benefit from having it generate one?

[2013-10-08 04:39] bpot opened #20 "Handle architecture independent packages correctly"
deb-s3 puts arch-independent (*_all.deb) files in a `binary-all` when they should, AFAICT, be placed in the manifests for both binary-amd64 and binary-i386.

I'm working around this for now by setting the arch flag (`-a amd64`).

[2013-10-21 19:00] timfallmk opened #21 "`block in pull_event': Undefined prefix Net: found (REXML::UndefinedNamespaceException)"
I'm trying to upload my first package to brand new bucket and I get the following error:

[code]

[2013-10-28 00:33] #15 closed, assigned to nobody

[2013-10-28 01:36] #13 closed, assigned to nobody

[2013-10-28 01:52] #21 closed, assigned to nobody

[2013-10-28 01:53] #12 closed, assigned to nobody

[2013-10-28 01:54] #10 closed, assigned to nobody

[2013-10-28 01:55] #9 closed, assigned to nobody

[2013-11-08 05:33] jessereynolds opened #22 "Creating a new repo"
Is it a goal of this project to be able to initialise a new repository up on S3, or is that still the job of reprepro (or something else?)

Thank you

[2013-11-13 20:41] maliksalman opened #23 "Upload with preserve-versions not behaving as expected at preserving older version of a package"
I am trying to create private repo in S3. So starting with just basic stuff and trying to add two debs in an empty S3 bucket. Both of the debs have the same package name but different versions.

I first issue this command ...

[code]

This creates the appropriate structure in my bucket ... and using apt-get and https://github.com/krobertson/apt-s3, I can even access that repo and install that pack

[2013-11-19 16:39] rchekaluk opened #25 "--gpg-options does not work"
Trying to use --gpg-options produces an error like this:

[code]

Inserting a little debug output shows that function upload is being passed an incorrect set of values for *files; is Thor incorrectly parsing the command-line?

[code]

[2014-02-14 11:25] gudmundur opened #27 "Silently fails on EU buckets"
I created a bucket on `eu-west-1` and tried using `deb-s3` with it. Everything seemed to be doing just fine, but the bucket always remained empty.

After digging around and trying different things, it seems I must provide a different endpoint for the EU S3 endpoint.

`deb-s3 upload --endpoint=s3-eu-west-1.amazonaws.com -b my_bucket my_package.deb`

The weird thing is that no errors are printed out

[2014-03-04 16:20] #11 closed, assigned to nobody

[2014-03-07 15:15] nathan-gs opened #29 "Support for Pre-Depends dependencies."
Some of our packages have `Pre-Depends` dependencies in the control file, these dependencies are unfortunately not picked up by deb-s3.

For an explanation about Pre-Depends vs Depends:
http://askubuntu.com/questions/83553/what-is-the-difference-between-dependencies-and-pre-depends

[2014-03-20 00:42] charliek opened #30 "sysread_nonblock: end of file reached (EOFError)"
I'm trying to get a new repo setup with a package built via FPM and when pushing into a fresh s3 bucket I'm seeing the below error.  This error is from the tip of master, and I see the same issue from the most recent gem.

Ubuntu 12.04
Ruby 1.9.3

Is there something I need to do to get an initial repo setup? Are there any debug flags I can set to see what it is doing further?

[code]

[2014-03-20 01:08] #30 closed, assigned to nobody

[2014-05-05 12:43] mcbain opened #34 "i18n: package info with utf8 chars prevents upload"
[code]

I'm trying to upload the latest nodejs deb in my s3 repo.
In the Maintainer field there are some utf8 chars.

Less output:

[code]

[2014-05-07 07:19] mcbain opened #35 "Concurrency issue"
Is there some locking when multiple deb-s3 upload debs to the same repo?
I recently ended with a corrupt repo due hash-sum errors from accidently runnning multiple deb-s3 instances.

Maybe a temporary .lock file on the s3 would be enought to defer other deb-s3.

[2014-05-09 18:44] #27 closed, assigned to nobody

[2014-05-10 00:40] #35 closed, assigned to nobody

[2014-06-05 20:28] damenk opened #36 "bucket names that are URLs result in errors"
With s3, if you want to setup an apt repo that people access via apt.example.com, you need the bucket in s3 to be called apt.example.com

however, if you do this, and then you try to do:
deb-s3 upload ---bucket="apt.example.com" examplefile.deb

it will throw an error

[2014-06-10 12:04] yannh opened #37 "Packages larger than 5MB (default multipart chunk) are reuploaded even when unchanged"
The current way of checking if a file is already present in the repository works by getting the value from the etag, and comparing it to the md5 of the file.

For files uploaded in multipart, the etag doesn't contain the md5 but should contain the md5sum of the concatenated md5sums of all parts, followed by a dash and the number of parts. [1]

The AWS SDK seems to uses a default multipart size of

[2014-06-23 02:01] #37 closed, assigned to nobody

[2014-07-04 14:04] ajohnstone opened #39 "`syswrite': Connection reset by peer (Errno::ECONNRESET)"
[code]

[2014-07-07 21:49] Igneous opened #40 "'deb-s3 delete' argument parsing issue?"
Hi, I'm running into an issue with deb-s3's argument parsing for the delete operation. I'm not quite sure what's going on, haven't inserted a pry binding to try to dig around yet, but I wanted to at least bring this up. Here, I'm using delete with the syntax in your readme.

Just for reference, I check the version of golang-amqp from the Packages file in my s3 bucket.

[code]

Trying to delete the

[2014-07-17 03:12] mzupan opened #43 "binary-all packages seem to be ignored by apt-get"
I'm trying to debug a problem even though the Releases file looks ok. Any binary-all package in my repo generated by deb-s3 isn't picked up

[code]

My Releases file looks like

[code]

Also might want to add this to the help as it is a hacky way to fix my problem. I just told deb-s3 that the packages were amd64

[code]

That isn't in the --help at all

Feel free to close this if you think this is

[2014-07-17 03:29] mzupan opened #44 "Filenames with versions are wrong"
If the filename has a + in it which some packages use in their versions deb-s3 writes the packages wrong since it look like it switches the + with the urlencoded version

see the following

[code]

It was causing apt-get to 403 trying to get the file

[code]

The file on the s3 bucket had the + in there

If I renamed the file to remove the + things worked

[2014-07-17 23:27] #43 closed, assigned to nobody

[2014-07-24 09:04] tfheen opened #46 "Avoid overwriting old versions"
It would be useful if you needed to pass --force-overwrite (or similar) to overwrite existing versions of packages.

(Alternatively, have a --no-overwrite if you disagree about the default.)

[2014-08-21 15:01] #20 closed, assigned to nobody

[2014-08-21 15:37] #22 closed, assigned to nobody

[2014-08-21 16:19] #29 closed, assigned to nobody

[2014-08-21 16:21] #34 closed, assigned to nobody

[2014-08-21 16:23] #18 closed, assigned to nobody

[2014-09-08 15:02] zoltrain opened #53 "Copy Command"
Something that we've been needing for a while is package promotion. Being able to move it from one distribution/component to another.

This way we can build against a commit, and promote that package up to different repositories vs having to publish it to multiple repositories. Since the GPG, file management has already been done in deb-s3 it makes sense to me to add this feature here.

It's also

[2014-09-11 08:22] joscarsson opened #54 "apt-get does not find the uploaded deb package"
More of a question than an actual issue, but when I upload a package apt-get does not seem to find it. The repository is http://repository.homeki.com/, and I use `--prefix packages` so all files are located at http://repository.homeki.com/packages. The GPG public key can be found at http://repository.homeki.com/homeki-public.key.

http://repository.homeki.com/packages/dists/unstable/Release contai

[2014-09-18 13:19] guilhem opened #55 "Package overwrite in pool between distribution"
In our case we are building package for 3 distributions: wheezy, precise, trusty.

Packages have same version.

When we are uploading them, everything is ok in every "package" file.. but bad things happen in `pool` directory: only last file uploaded take place and every distribution other distributions point to this one...

[2014-09-22 09:19] htmldoug opened #58 "Support concurrent uploads"
deb-s3 upload currently bottlenecks our CI builds while uploading our 2.1 GB of packages to S3. (Yes, we're working on reducing that.)

It can't be run concurrently (uploading manifests clobber each other), so we've throttled the uploads to go one at a time. However, at 10 minutes per upload, that caps us to 6 builds per hour. Add in 40 developers, and Jenkins routinely gets backed up like whoa.

[2014-10-24 20:46] stensonb opened #60 "support for Openstack Swift?"
First off...LOVE the idea of this gem.

I run an OpenStack Swift cluster that has the s3-proxy plugin which is supposed to emulate the S3 api...the only problem is, the aws-sdk gem (dependent upon here) has a hard time with non-AWS URLs.

What about native OpenStack Swift support?  Of course, Swift is just another flavor of the week...

Actually, what I'm proposing is a pluggable design where any

[2014-11-24 18:19] #36 closed, assigned to nobody

[2014-12-29 08:46] im905513 opened #66 "AWS::S3::Errors::Forbidden"
I use deb-s3 got the message in below. What happen about this?

I don't change any setting , it can be work normal before, but can not work now
---------------------------------------------------------------------------------------
Retrieving existing manifests
/var/lib/gems/1.9.1/gems/aws-sdk-1.40.2/lib/aws/core/client.rb:375:in `return_or_raise': AWS::S3::Errors::Forbidden (AWS::S3::Errors::Forb

[2015-01-15 04:11] whiteley commented on #46
The package is overwritten but so are the manifests and the repository is left in a valid state. As long as the user has run `apt-get update` since the upload, the install will succeed without issue. I think the default behavior should be to not upload existing packages whether they have changed or not, both to save on transfers and to allow `deb-s3 upload *.deb` behavior.

@krobertson would you b

[2015-01-18 01:50] jnankin commented on #44
I opened a PR for this awhile back, any reason it's not being accepted?

[2015-02-09 11:45] thedrow opened #70 "Add support for uploading debian packages to S3 using AWS CodeDeploy"
CodeDeploy triggers more actions when deploying a build artifact. It uploads them to S3 which means it is within the scope of the project.
If you could provide an option to use it to upload to debian packages to S3 I'd be happy to donate a 100$ to you or to a charity of your choosing.

[2015-02-09 19:30] krobertson commented on #70
I haven't used AWS CodeDeploy at all. Do you have any ideas on how it would work from the user's perspective? Like have deb-s3 kick off a CodeDeploy event to do everything end to end? I'll try and look at the API docs later to see what it actually supports running and what it supports as parameters.

[2015-02-10 07:46] thedrow commented on #70
I haven't done it myself yet but I'm planning to.
I know that the deployed build artifact ends up on S3 and that AWS CodeDeploy can trigger CM tools in order to update.

[2015-02-26 19:59] jjshoe opened #72 "Large manifest file causes deb-s3 not to work"
I've got a 60MB Packages file that prevents deb-s3 from completing. We upload upload upload and never delete packages. I'm currently investigating more and will update this ticket with more details as I dig.

[2015-02-27 14:51] jjshoe commented on #72
Did some poking, found a couple of things, though nothing that was a smoking gun for me.

https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/manifest.rb#L82 - It looks like to me that this is getting the results of the package.erb and cramming them all into an array, when it's done, it then calls a join. This was causing my desktop to kill the process for running out of memory. The way to

[2015-02-27 16:19] jjshoe commented on #72
I found the root cause, my Packages file had lots of entrys of just periods:

[code]

[2015-02-27 17:26] jjshoe commented on #72
Note: going to hold the ticket open for a bit, see if I can figure out what caused this.

[2015-03-03 11:28] JeanFred opened #73 "deb-s3 delete fails with TypeError"
I’m trying to delete a package from my S3 APT repo.

`delete my_package -v authenticated -b my-apt-repo -c stage --arch amd64 --versions 0.90.1`
[code]

[2015-03-04 19:14] leedm777 commented on #72
I've looked into this a bit. It appears that blank continuation lines in a description (which are rendered as ` .` in the Packages file) are duplicated when it goes through the parsing process. So for every successive upload, the number of blank lines are doubled.

[2015-03-04 19:17] jjshoe commented on #72
@leedm777 - perhaps: https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/manifest.rb#L46

[2015-03-04 19:32] leedm777 commented on #72
The massive number of dots we were seeing were caused by a parsing bug. PR posted, which even includes a test :-)

[2015-03-04 21:01] leedm777 commented on #72
FWIW, it looks like this bug was introduced between 0.6.2 and 0.7.0.

[2015-03-06 18:29] JeanFred commented on #72
I am having the same problem − dot lines get duplicated, resulting in a huge Packages file eventually leading deb-s3 to crash when manipulating it.

[2015-03-06 21:38] leedm777 commented on #72
@JeanFred Can you try out [my patch](https://github.com/krobertson/deb-s3/issues/74) to see if it works for you?

I also wrote a [fixup command](https://github.com/leedm777/deb-s3/tree/fixup) in a branch on my work. I used it to get our Packages files back in order. It's a quick hack, so I highly recommend backups before trying it.

[2015-03-12 12:01] JeanFred commented on #72
@leedm777 I have tried your patch and I’m happy to report that it does work for me − thanks! I tried uploading packages with deb-s3 − which duplicated dots − and then your version − which did not.

I also used (after backup ;-) your fixup command, which worked like a charm and basically saved our lives. Thanks *a lot* for this.

[2015-03-12 14:37] #72 closed

[2015-03-12 14:50] krobertson commented on #73
Should be fixed by 5f5e545. I'll probably be releasing 0.7.1 here soon.

[2015-03-12 14:50] #73 closed

[2015-03-12 14:52] #23 closed

[2015-03-12 14:58] JeanFred commented on #73
Thanks!

[2015-03-12 18:33] krobertson commented on #72
Merged the PR and released 0.7.1 earlier this morning. Thanks!

[2015-03-12 19:26] JeanFred commented on #72
Thanks @krobertson and @leedm777 !

[2015-03-15 03:36] drusellers commented on #66
Do you have S3 permissions to write?

[2015-03-19 00:25] rcoup commented on #14
It already supports the [AWS credentials](http://blogs.aws.amazon.com/security/post/Tx3D6U6WSFGOK2H/A-New-and-Standardized-Way-to-Manage-Credentials-in-the-AWS-SDKs) environment variables & ~/.aws/credentials files via [aws-sdk](https://github.com/aws/aws-sdk-ruby).

Would be nice to support `AWS_REGION` automatically instead of needing `--endpoint` though.

[2015-04-05 04:53] BrianAdams commented on #44
I just tried with 7.1 and I am still seeing the the Filename in the actual repo files being URL encoded which it should not be.

From: http://deb-repo.rov.com/dists/pre-release/debian/binary-armhf/Packages
[code]
Note the Filename: pool/o/op/rov-avrdude_1**%3A**5.11.1-1~24.ad04c42_armhf.deb above

I did confirm that #45 looks to be merged in master.  Any ideas?

[2015-04-05 07:14] BrianAdams commented on #44
I fixed the last issue I had in PR #77

[2015-04-05 19:32] BrianAdams opened #78 "Packages now download when trying to view in a browser"
It used to be you could go to the url for a package, say
`dists/master/debian/binary-armhf/Packages` and the browser would load the XML for you to view in the browser.

Instead, as of version 7.1, the system now causes the browser to download the file content.  Is this change by design?  If not, I assume the mime type got changes somewhere, if you can give a hint on where to look I can try fixing

[2015-04-05 22:11] BrianAdams commented on #46
Jus to add, if when overwriting, the system should check all of the other places that might have links to that same package and the manifest for those need to be refreshed with the new package. This is because a package with the same file name may have a different hash value (perhaps because it was signed at a different time) and the overwrite will break the other manifests if they are not updated

[2015-06-01 14:19] rmldsky opened #80 "Go with newer(-est) version of aws-sdk in dependencies?"
Hi,
Currently the gem depends on `"aws-sdk", "~> 1.18"` is there a chance to bump it up to recent version of `aws-sdk`? I could see in the commit history you did change the dependency once already but reverted it back the next day. Where there any problems with it? Does it involve a lot of code changes of `deb-s3` itself? Is this planned anytime soon?

Thanks!

[2015-06-01 14:43] rmldsky commented on #80
...or if this requires too much work, change the dependency to `aws-sdk-v1` According to AWS [documentation](http://ruby.awsblog.com/post/Tx2NJE86FP0HHXX/Announcing-V2-of-the-AWS-SDK-for-Ruby) this is a recommended way to use both version in one application.

[2015-06-01 15:13] rmldsky commented on #80
I've submitted a pull request (#81) if this is something you might consider doing.

[2015-06-01 18:31] krobertson commented on #80
I had started updating to the latest gem back in February, but it was right as I was going to push out a new release and realized it was more than just a drop in and fix a few things change. I haven't touched it since then though. I pushed the branch up, it is `update-to-aws-sdk-2`.

[2015-06-02 10:10] rmldsky commented on #80
Hm, I believe I read your comment in another issue, in which you stated you would like to still support Ruby 1.8.7. From what I have found out it seems both `aws-sdk` (which now defaults to 2) and `aws-sdk-v1` (even the lowest version) both pull `nokogiri` as a dependency in a version which fails building on 1.8.7 (see my pull request details and failed build on Travis). I do not have enough knowl

[2015-06-17 09:06] rmldsky commented on #66
I believe this issue could be close. Reporter did not provide any further reply, plus it looks like permissions issues.

[2015-06-19 22:49] #66 closed

[2015-06-19 22:49] krobertson commented on #78
Fixed in #83

[2015-06-19 22:49] #78 closed

[2015-07-09 13:17] rmoriz commented on #55
same issue here :(

[2015-07-23 07:01] mknapik opened #85 "Pinned Thor version 0.18"
Is there any reason for locking Thor version on `~> 0.18.0`?

I have conflicts with other deb in my Gemfile and I was thinking about allowing using version 0.19.
Could we change it to `~> 0.18`?

[2015-09-04 18:56] sodabrew commented on #54
deb-s3 versions 0.7.0 and higher include the noted fix commit. Can the issue be closed?

[2015-09-18 07:15] alexmreis commented on #58
I've added locking support which should make the multi-host upload more safe. It doesn't do anything in parallel (ruby is really bad in doing things in parallel anyway unless you use something like active_job or resque) See pull request #89

[2015-09-18 07:35] alexmreis commented on #58
BTW eventual consistency is not a problem unless you use the US Standard region. See http://shlomoswidler.com/2009/12/read-after-write-consistency-in-amazon.html

[2015-10-01 16:51] yangye1947 opened #91 "Upload only working in one region (us-east-1), --endpoint not working as expect"
Here is what I tried. my.oregon.bucket is hosted in Oregon. I tried the upload command with and without the endpoint "--endpoint=s3-website-us-west-2.amazonaws.com". Doesn't work for me.
Then I setup a bucket in US standard (us-east-1) with the exactly setting as the one in Oregon except the region. It works.

Here's the error:
[code]

[2015-10-19 08:30] JamieCressey commented on #91
Try:

`--endpoint s3-us-west-2.amazonaws.com`

No need for "website" in the URL

[2015-11-13 22:13] mslinn opened #92 "Install these packages without verification [y/N]"
I created a PPA with deb-s3, and it worked very well. However, when users try to install the package hosted in the PPA, they are asked if they want to install without verification. How can I get rid of this message?

<pre>
$ <b>sudo add-apt-repository 'deb http://mslinn-ppa.s3.amazonaws.com stable main'</b>
$ <b>sudo apt-get update</b>
$ <b>sudo apt-get install pound</b>
Reading package lists... D

[2015-12-07 16:30] kedare commented on #34
Hello,

Are you sure this has been fixed ? I just had the same issue with a package I try to upload :+1:

/var/lib/gems/2.1.0/gems/deb-s3-0.7.1/lib/deb/s3/package.rb:283:in `block (2 levels) in parse_control': invalid byte sequence in US-ASCII (ArgumentError)

There are special characters in the author's name

[2015-12-16 10:46] kedare commented on #92
You have to sign your packages

http://blog.jonliv.es/blog/2011/04/26/creating-your-own-signed-apt-repository-and-debian-packages/

[2015-12-16 15:41] mslinn commented on #92
Thanks, I will check it out

[2015-12-16 16:38] mslinn commented on #92
The article discusses signing the repo as well as the packages, and references files that don't exist in repos made with `deb-s3`. Is it necessary or even possible to sign repos made with `deb-s3`? How much of the cited article is relevant, and if those instructions are followed will other warnings appear?

[2015-12-16 17:46] krobertson commented on #92
@mslinn Sorry I hadn't seen this issue when it was first filed!

The article @kedare links to is close to what you'd want. It isn't generally necessary to sign packages, or packages and the repository. I typically just sign the repository. The repository manifest contains the URLs to all the packages, the checksums, as well as the size. This effectively validates all the packages referenced in one

[2015-12-16 20:16] mslinn commented on #92
I have uploaded a few unsigned packages. I don't have updates yet. How do set things right?

[2015-12-17 22:13] krobertson commented on #92
If you do `deb-s3 verify --sign` it should force an update with it signed.

[2015-12-17 23:15] #58 closed

[2015-12-17 23:16] #53 closed

[2015-12-17 23:17] krobertson commented on #53
Cleaning up some old issues... `deb-s3 copy` was added in 0.7.0.

[2015-12-18 00:59] #46 closed

[2015-12-19 17:24] mslinn commented on #92
It would be helpful to add more detail to `README.md` about the `verify --sign` command / option combination. Currently it just says:

[code]

[2016-01-04 22:10] krobertson commented on #85
Have moved to using Thor 0.19.

[2016-01-04 22:10] #85 closed

[2016-01-04 22:10] #92 closed

[2016-01-04 22:11] #70 closed

[2016-01-04 22:12] #39 closed

[2016-01-04 22:15] mslinn commented on #92
Please don't close this issue. I would very much like to run `deb-s3 verify --sign` but I still don't know how!

[2016-01-04 22:24] krobertson commented on #92
I am not going to extend the dialog to document how to use GPG, especially since Googling it is so easy and will yield vastly superior docs.

From the looks of your output, it seems your `gpg --gen-key` might have failed. Especially from the last paragraph.  There are some good [GPG cheat sheets](http://irtfweb.ifa.hawaii.edu/~lockhart/gpg/) out there to show some useful commands.

GPG key IDs are

[2016-01-04 23:40] mslinn commented on #92
For posterity, this is what I did:
[code]

[2016-01-05 10:16] mknapik commented on #85
@krobertson Great, thanks!

[2016-02-04 20:24] rmoriz commented on #44
still and issue with `~`, e.g.  ` 3.4.1-2~bpo80+1`

[2016-02-04 20:33] krobertson commented on #44
This iasueiasue has pingponged. I've had bugs filed with it both ways. I'm planning on just changing it to strip the problem characters from the filename.

[2016-02-10 17:04] jjshoe opened #95 "Remove the ability to specify arch type?"
This ticket is mostly a discussion. What is the case where you want to allow a user to specify an arch type? Is it valid to have a package of a same name in all, and specific arch types? How does a system behave when a i386 package is placed in an amd64 repository?

At the least I think adjusting https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/cli.rb#L177 to be `arch = pkg.architecture

[2016-02-10 17:30] jjshoe opened #96 "Despite specifying arch type ALL manifests get uploaded"
[code]

[2016-02-10 17:34] jjshoe commented on #96
I tried wrapping https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/cli.rb#L226 in a:

[code]

But this broke uploading an arch type with `any`.

[2016-02-10 17:34] jjshoe opened #97 "Locking fails when uploading without an architecture type"
Steps to reproduce:

1. Add a `sleep(60)` here: https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/cli.rb#L233
1. Run `deb-s3 upload -l -p -b your-bucket -v private your-package.deb`
1. While it's sleeping in `your-bucket/dists/stable/main` you'll discover a `binary-` folder holding the lockfile

The fix should be as simple as getting a list of all arch types up front, but this is complic

[2016-02-10 17:35] jjshoe commented on #97
@alexmreis

[2016-02-10 17:35] jjshoe commented on #97
And by simple, I mean, getting a list of all arch types, getting a lock on each, storing that an array, and looping to unlock.

[2016-02-10 18:37] jjshoe commented on #96
I believe my testing here is flawed by:

https://aws.amazon.com/s3/faqs/

[code]

[2016-02-10 18:38] jjshoe commented on #97
An additional issue, by using the same lockfile name, you'll still have issues, as I discovered testing another issue:

https://aws.amazon.com/s3/faqs/

[code]

[2016-02-10 18:55] jjshoe commented on #96
Ok, I can confirm this, wrote to a brand new bucket to ensure it's not a caching issue.

https://github.com/krobertson/deb-s3/blob/master/lib/deb/s3/release.rb#L88

The call to validate_others trips the writing out of a manifest to i386 and amd64 every time.

[2016-02-10 18:59] alexmreis commented on #97
I'd suggest the fix would actually be requiring the architecture to be explicitly specified if -l is used and exiting with an error if it isn't. Having multiple locks increases the complexity of something that is already fragile. That said if you consistently don't specify the architecture, then the behaviour of the locking mechanism is still consistent, albeit a bit dirty to the repo layout.

The

[2016-02-10 19:04] jjshoe commented on #97
@alexmreis I deleted the eventual consistency comment from here, I'll make a new issue when I come up with a great way to reproduce.

[2016-02-10 19:07] jjshoe commented on #97
@alexmreis also, see https://github.com/krobertson/deb-s3/issues/95.

[2016-02-10 19:16] jjshoe commented on #97
@alexmreis - Actually, I have the nail in the coffin, and the safest possible way for you to do this anyway. You should lock at the bucket level. I know, then it's not as fast as it could be, but `bucket-name/dists/stable/Release` gets updated every run as well.

[2016-02-10 19:28] jjshoe commented on #97
Also worth noting, specifying an architecture type out front makes it difficult to upload a whole mess of deb files of different arch types.

[2016-02-10 20:17] alexmreis commented on #97
A bucket level lock breaks the idea of multiple repositories in the same bucket that the --prefix option allows for. It should at least be on the prefix level, but I do like the idea @jjshoe

[2016-02-10 20:23] jjshoe commented on #97
@alexmreis yes, sorry, I'm all for prefix, replace bucket with repository.

[2016-03-31 12:37] JamieCressey opened #101 "Authenticate to AWS using custom profile"
Allow users to provide a profile name to use when authenticating against AWS

[2016-04-07 14:43] MrMickS opened #103 "Add additional arch type amdhf"
We are developing software that runs on amdhf as well as i386/amd64. It would be good if this was supported.

[2016-04-07 17:58] krobertson commented on #103
Just do double check, do you mean `armhf` for ARM chips?

[2016-04-07 18:04] krobertson commented on #101
I'll look into this... prefer to be able to have it automatically pick one up.

[2016-04-07 18:05] MrMickS commented on #103
Hi,

Yes I do.  It should just be a case of adding to the arch I suspect.

Regards,

Mick

[2016-04-07 18:05] #91 closed

[2016-04-07 18:07] #103 closed

[2016-04-07 18:07] krobertson commented on #103
Added support in 81dfd586ced0117c835dfceda8b6c7c720435f4d. Going to be cutting a new gem version.

[2016-04-07 18:32] MrMickS commented on #103
Great.

Thanks a lot.

Mick

[2016-04-09 21:01] sigil66 commented on #44
The root issue is  S3 mangling + -> " ". https://github.com/sigil66/apt-transport-s3/blob/master/src/s3%2Bhttp.cc#L686

I hate this issue so very much.

[2016-05-16 18:16] jjshoe opened #105 "IAM Role support"
It would be awesome if deb-s3 could use IAM roles for credentials.

[2016-05-16 18:20] jjshoe commented on #105
http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/Core/CredentialProviders/AssumeRoleProvider.html

[2016-05-16 18:24] jjshoe commented on #105
The DefaultProvider claims to try this as a fallback in the Ruby SDK docs, but doesn't seem to be the case here.

[2016-05-17 07:15] rjernst commented on #103
This change causes existing repositories which *don't* support `armhf` to be incorrectly updated because using deb-s3 now adds that architecture with an empty file packages file. Can this be done in a way that still respects the architectures listed in the Release file?

[2016-06-10 17:31] sensedeep commented on #25
I had to use:

[code]

[2016-06-23 20:32] twmartin commented on #105
@jjshoe - I believe `deb-s3` will support authentication through IAM roles. I was running into difficulty during upload attempts before I realized that I needed to allow `s3:PutObjectAcl` in addition to `s3:PutObject` in my IAM role policy.

[2016-07-28 16:38] jhnferraris commented on #39
I'm experiencing this issue in my Ubuntu 14.04. Tried the above fix but no joy.

Here's my logs:

The file size is 50mb

I'm experiencing 2 kinds of errors:

Connection reset
[code]

or it would be a `Broken pipe`

[code]

Anyone got around this?

[2016-09-08 18:18] xose opened #109 "Use SHA256 digest when signing"
APT has deprecated SHA1 signatures on repositories since version 1.2.7. Right now it's only a warning when downloading packages from a SHA1-signed repository, but starting in January 2017 it will become an error.

GPG signs using SHA1 by default, but can be configured to sign using SHA256. This should be the default on deb-s3 to avoid issues in the future. SHA256 has been supported in APT since ve

[2016-10-17 18:36] gaieges commented on #105
I've had success with an instance role and a IAM policy behind that being able to upload to s3 using deb-s3.

However, the one piece of feedback I would leave is to ensure that the `PutObjectAcl` requirement (and in general what a minimum IAM policy is needed for this) is included in documentation.  I spent a bit of time trying to figure out what the proper minimum policy needed to allow this to w

[2016-10-27 15:04] shanukus98765 opened #112 "How to get the previous version using deb-s3?"
deb-s3 generates Packages.gz while doing `deb-s3 upload`.

Suppose I am using s3 as my custom apt-repository with the package: `alpha-pkg`

Now, when I do `sudo apt-get update`, then only the latest version of alpha-pkg comes. All the previous versions are gone. Is there any way to keep the previous versions too?

This way, I can quickly switch back to any previous version of `alpha-pkg`

[2016-10-31 13:48] shanukus98765 commented on #112
Hi, Any updates on this?

[2016-10-31 15:11] krobertson commented on #112
You can do this with the `--preserve-versions` on the `deb-s3 upload` command. I'd also suggest looking through the help screens with either `deb-s3 upload --help` for some of the different arguments.

Then the previous versions listed in the manifest will be preserved. To add the old ones back, you will have to re-upload them, but uploading the file itself will be skipped since it already exists.

[2016-10-31 15:11] #112 closed

[2016-11-22 18:34] yongwen opened #113 "setting fail-if-exists flag caused index corruption if the uploaded file exists"
The following upload command with the --fail-if-exists and the same filename will upload some of the Packages file to s3, then exit because of the file exists. Since some of the Packages file got uploaded but not the Release file. It causes the repository index corruption:

deb-s3 upload \
  --fail-if-exists
  --preserve-versions \
  --bucket ABC \
  --codename precise \
  --component main \
  --a

[2016-11-23 00:59] yongwen commented on #113
a possible workaround/fix: https://github.com/gengmao/deb-s3/pull/1

[2017-01-04 12:45] thusoy opened #114 "Doesn't work with new S3 locations"
Using the exact same IAM policies and identical deb-s3 commands (apart from the target bucket), uploading to US default works while Frankfurt fails with a BadRequest:
[code]

I'm guessing this is due to the new authentication method on the newer S3 locations, and that this would be fixed by #80, but I'm not sure.

[2017-01-04 21:41] securityvoid commented on #66
What does the policy need to look like for the permissions to work?

I've got the following and I'm getting this same forbidden message:
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "Stmt1483565451843",
            "Action": [
                "s3:DeleteObject",
                "s3:DeleteObjectacl",
                "s3:GetObject",
                "s3:ListBucket",

[2017-01-05 16:00] krobertson commented on #114
Yes, I believe you're correct.

I had a WIP branch with the newer gem, I'll take a look at what I had left to finish it off.

[2017-01-06 05:22] bitpusher-real opened #115 "utf8 characters prevent upload"
package.rb:283:in `block (2 levels) in parse_control': invalid byte sequence in UTF-8 (ArgumentError)

[2017-01-06 05:47] krobertson commented on #115
I will take a look. Is the package you were working with public?

BTW, I remember BitPusher from back in the day when mhalligan was with you. Will take a look tomorrow afternoon when I'm near a comparable env.

[2017-01-06 19:12] bitpusher-real commented on #115
Thanks Ken :) The package is Wowza Streaming Server 4.1.2 ... I'm not sure if the .deb is publicly available... I can only seem to find the .bin executables.  But I could make it available somewhere if you need.

[2017-01-09 03:27] digitalrounin commented on #114
Not sure if this is a related issue, or something different.  First time `deb-s3` user here so I could be messing something up.

I'm trying to create a repo for the first time with `deb-s3 upload` and I keep getting the following:

[code]

I created the bucket recently.

Is this related?  Am I goofing something else up?

Thanks in advance!

[2017-02-14 11:25] manicminer commented on #114
@krobertson do you think you'll be able to release an update that works with newer S3 locations? thanks!

[2017-02-16 12:01] ruland commented on #114
@manicminer Just did a pull request with the new aws sdk, that should make it work for you. you can check out my fork and use it.

[2017-02-20 18:04] #105 closed

[2017-02-24 04:36] JedMeister commented on #115
Not 100% sure if this is exactly the same issue, but figured I'd post here as it seems incredibly close. I hope that's ok.

My error is similar but not quite identical:
[code]

When trying to upload a Debian backport deb to my local repo. I downloaded it direct from the Debian mirror. FWIW I am running Debian Jessie on my laptop.

The explicit package is: https://packages.debian.org/jessie-backpor

[2017-03-14 14:11] geoghegan opened #118 "AWS::S3::Errors::AccessDenied"
I am having terrible trouble attempting to upload files to a brand new and empty S3 bucket. The command I'm running is:

```deb-s3 upload --bucket my-private-bucket screen.deb --access-key-id=FOO --secret-access-key=BAR+BAZ --endpoint s3-eu-west-1.amazonaws.com```

The stack trace is:
[code]

My IAM policy is
[code]

I don't think it's a bucket issue, as I granted the Everyone user the ability to

[2017-03-14 14:56] geoghegan commented on #118
This looks to be permissions based. I used my own, Admin, IAM details and was able to upload fine - so what are the required policies needed to make this work?

[2017-03-15 12:10] mands commented on #118
+1 - hitting the same problem with an IAM user that has the following policy and works with `aws s3` to put/sync files (using the admin user works fine)

[code]

[2017-03-15 12:13] mands commented on #118
Actually, following on from the previous poster, the following IAM policy worked,

[code]

[2017-03-20 12:25] geoghegan commented on #118
Thanks @mands ! That policy did the trick

[2017-03-20 12:25] #118 closed

[2017-03-30 18:50] sholsapp commented on #66
Same error with all permissions allowed on bucket.

[2017-03-31 06:57] #114 closed

[2017-03-31 06:57] #80 closed

[2017-03-31 11:52] sholsapp commented on #66
@securityvoid I figured this out, and figured I'd leave a note here for the next guy. Besides the permissions you mentioned here, you also need to add the ListBucket permission to the bucket.

[2017-04-16 07:22] chrisLeeTW opened #119 "Add support to choose different storage class"
Hi,

For the s3 cost optimization.

it will nice to have the ability to choose different s3 storage class.

BR
Chris

[2017-05-05 16:02] bacoboy commented on #101
When dealing with multiple accounts, sometimes there is no default.

There are really 2 things needed to be complete:
1) specify a non `default` profile (from ~/.aws/credentials)
2) specify as role ARN to assume.  The SDK doesn't read ~/.aws/config like the aws CLI does, you need to call STS to assume roles.

So in my case, I have keys for an account, but need to assume a role in another account t

[2017-05-17 22:58] pccowboy commented on #54
@krobertson bumping @sodabrew 's question, is this closable?

[2017-05-18 08:14] joscarsson commented on #54
@sodabrew @pccowboy: I think this can be closed, yes. Thanks!

[2017-05-18 08:14] #54 closed

[2017-06-02 00:27] drusellers opened #120 "Upgrade to AWS SDK v2"
AWS SDK has released a v2 - while probably not critical would be nice to have this upgraded to v2+

[2017-06-02 12:02] drusellers opened #121 "Please provide an example with the `--sign` option"
Its not clear to me if I use an EC2 Key or a key on my box. A key on my box makes the most sense. But I just have the one ssh key at the moment. sounds like I may need a new one.

[2017-06-02 15:21] krobertson commented on #120
The V2 API is actually in master, I just need to get of my butt and release a new version. :smile:

[2017-06-02 15:25] krobertson commented on #121
Sure, I'll update.

The signing is with GPG. If you don't give a param, GPG will just select a key to use. Otherwise, to specify the key you provide it's fingerprint/key ID.

[2017-06-02 16:32] drusellers commented on #120
Dopeness!

On Fri, Jun 2, 2017 at 10:21 Ken Robertson <notifications@github.com> wrote:

[2017-06-02 16:33] drusellers commented on #121
Took me a while to figure it out but I got it. Just new to the Debian
workflow. :)
On Fri, Jun 2, 2017 at 10:25 Ken Robertson <notifications@github.com> wrote:

[2017-06-18 06:22] rjbrown99 commented on #118
Also check the date and time of your system. I was using a VM with a local date/time in the past (based on suspend/resume) and that manifest itself in a Forbidden error. ntpdate is your friend.

[2017-06-24 13:45] hertzsprung commented on #55
This is going to be a problem for me.  Rather than going into `pool/`, shouldn't binary .debs be put in the `dist/` tree alongside the Packages files?

[2017-08-01 00:43] drnic commented on #121
An example from our CI for https://apt.starkandwayne.com is:

* setup GPG key in local CI container https://github.com/starkandwayne/homebrew-cf/blob/master/ci/scripts/create-debian-pkg-from-binary.sh#L22-L34
[code]

* Run `deb-s3 upload --sign id`
[code]

[2017-08-08 14:20] chadbean commented on #120
@krobertson how many 🍺 's will it take to get you to cut that release?

[2017-08-08 18:17] krobertson commented on #120
@chadbean Done... sorry, I can be forgetful.

[2017-08-08 18:18] #120 closed

[2017-08-08 18:18] #113 closed

[2017-08-08 18:20] #25 closed

[2017-08-08 18:27] krobertson commented on #121
Updated the help text and readme to clarify its a GPG key, and how to specify.

[2017-08-08 18:27] #121 closed

[2017-08-09 23:26] alex-pw commented on #101
I got around this by adding a role-arn option, which is less ideal than respecting the config files, but this works for my case.  Would you be interested in a PR for this?

[patch.diff.txt](https://github.com/krobertson/deb-s3/files/1213145/patch.diff.txt)

[2017-08-09 23:52] alex-pw commented on #101
Here is an example diff that lets me set role-arn via the CLI.  It would be more ideal to respect the aws config files properly, but this is a quick workaround.  I can make a pull request for this if it looks ok, thanks for making deb-s3!

[patch.diff.txt](https://github.com/krobertson/deb-s3/files/1213219/patch.diff.txt)

[2017-08-10 22:25] craigds opened #122 "0.9.1 removed the --endpoint flag"
#117 removed the `--endpoint` flag without any explanation or suggestion of a replacement. Can it be reinstated?

[2017-08-10 22:34] craigds commented on #122
Looking at the code, looks like maybe this has changed to use `--region` instead. Perhaps a note in the changelog about this would suffice then.

[2017-08-11 07:26] hertzsprung opened #123 "AWS_DEFAULT_REGION environment variable is not respected"
The `--s3-region` flag defaults to us-east-1 and does not respect the AWS_DEFAULT_REGION environment variable.  My bucket is in eu-west-1 and uploading with deb-s3 gives a warning:

[code]

[2017-08-11 07:28] hertzsprung opened #124 "Unable to upload with deb-s3 0.9.1"
Something has broken in the 0.9.1 release that is preventing me from uploading any .deb.  Could this be related to https://github.com/aws/aws-sdk-ruby/issues/1175?

[code]

[2017-08-15 09:02] russmac opened #125 "--sign does not sign release file, Only adds Release.gpg & Release"
When using
[code]
Everything works as expected, the files upload, Release.gpg is created however a signed Release file as InRelease is not generated breaking apt-secure without using allow unauthenticated setting.

[2017-08-16 13:12] russmac commented on #125
Fixed in: https://github.com/krobertson/deb-s3/pull/126

[2017-09-06 01:08] bacoboy commented on #101
Nobody parses the config file except the aws cli that I have found.  I did something similar for [unicreds here](https://github.com/Journera/unicreds/blob/e23f40d989cfa73d0f30ad23b1252109d5813e5f/aws_config.go#L52-L58).

Your patch looks more or less correct.  The role arn is just an updated config you use in the client setup.  The `force_path_style` seems to be s3 specific and not related to the

[2017-09-21 03:04] chrisLeeTW opened #128 "0.9.1 removed the --use-ssl flag"
--use-ssl is quit useful for local testing, with some aws s3 mock services.

You can use & testing deb-s3 in locally without actual aws s3 usage.

Please consider adding back this option.

[2017-11-10 12:38] ahharu opened #129 "does not match the server certificate"
/usr/lib/ruby/2.3.0/openssl/ssl.rb:315:in `post_connection_check': hostname "privateapt.s3.s3-eu-west-1.amazonaws.com" does not match the server certificate (Seahorse::Client::NetworkingError)

Using Ruby 2.3.1

[2017-11-10 12:58] #129 closed

[2017-12-05 18:10] #124 closed

[2017-12-16 22:57] CumpsD opened #132 "How to use gpg2?"
My system has both `gpg` and `gpg2`. The keys needed for signing are in `gpg2`. I noticed I can specify GPG options via the commandline, but not the executable to use itself. Is there any way to do this?

[2017-12-29 14:29] miradnan opened #133 "gpg: cannot open tty `/dev/tty'"
I am trying to run this inside a docker image. I am getting the follow issue

`gpg: cannot open tty `/dev/tty': No such device or address`

[2017-12-29 20:59] miradnan opened #134 "Signing package"
The packages I sign using this tool throw a W: http://something.com/xenial/InRelease: Signature by key UEF6B5EC34UHRIGENGC56737A384AP  uses weak digest algorithm (SHA1)

How do I fix this?

[2018-01-08 10:01] miradnan opened #135 "weak digest algorithm"
File dists/xenial/InRelease: Signature by key DEF6B5ECEF9CAEEEBFF9E3A68BDDC56737A384AB uses weak digest algorithm (SHA1)

[2018-01-08 14:40] miradnan commented on #135
Found a solution.

Added the following two lines to `~/.gnupg/gpg.conf` file

`cert-digest-algo SHA256
digest-algo SHA256`

[2018-01-08 14:40] #135 closed

[2018-01-30 20:31] pbeeson opened #136 "--fail-if-exists has no effect"
fail-if-exists seems to not have any effect.  The package just uploads as normal.
[code]

[2018-02-15 13:27] magnetik opened #137 "InRelease should be generated by default"
Hi,

The debian repository format states that the `InRelease` should be present, and the Release file should be present for older client.

At the moment, it's generated only for the codenames "xenial", "jessie" and "stretch". Shouldn't this be the default behavior?

Thanks for this gem :)

[2018-02-16 15:02] blamarvt commented on #115
I hit this today:
[code]

I'll look and see if I can contribute a fix.

[2018-02-16 16:55] blamarvt commented on #115
In my case this was an environment configuration error. I had to make sure the locale was set properly in my docker container:

[code]

[2018-04-04 21:41] richid commented on #109
I spent several hours chasing this down today and while this is not the fault of `deb-s3` I think making this the default would go a long way to avoiding future problems.

Thanks for the great little utility.

[2018-04-11 02:35] cam-fulcrum opened #140 "Prune orphaned packages from s3"
Woops - didn't realize verify does exactly what I want. Thanks for all your hard work!

[2018-04-11 02:44] #140 closed

[2018-04-16 07:27] magnetik commented on #137
@krobertson Any input on this? thanks :)

[2018-04-17 20:54] wangii commented on #25
which version of gpg were you guys using? it doesn't work any more.

[2018-05-07 10:49] agimenez commented on #115
@blamarvt I don't believe that is entirely a configuration error. The Debian Policy explicitly states that all control files must be encoded in UTF-8 (https://www.debian.org/doc/debian-policy/#syntax-of-control-files).

So I think that the code should explicitly open the file(s) in UTF-8 mode, if that makes sense, right?

[2018-05-08 08:55] agimenez commented on #137
+1 on this, this should be nice to be applied

[2018-05-08 08:56] agimenez commented on #133
You need to run it in batch mode

[2018-05-15 06:59] magnetik commented on #137
He merged a PR made after this one, not sure why this one got no attention so far. Let's be patient ^^

[2018-05-17 17:13] #137 closed

[2018-05-17 17:18] #60 closed, assigned to nobody

[2018-05-17 17:18] #14 closed

[2018-05-17 18:03] krobertson commented on #134
Workaround was in #109. Fixed on master and will be releasing 0.9.3 shortly.

[2018-05-17 18:03] #134 closed

[2018-05-17 18:06] #44 closed

[2018-05-25 10:43] agimenez opened #141 "Method missing `public_url` in #<Seahorse::Client::Response> with --fail-if-exists"
Hi,

I'm trying the `--fail-if-exists` feature and I get hist backtrace:

[code]

I have checked the code and lin utils.rb:85:

[code]

`obj` comes from line 78:

[code]

That method does a HEAD on the object:

[code]

That returns a `Aws::S3::Types::HeadObjectOutput` that does not have that method. I have checked the API documentation and it only retrieves metadata, so the name is not available a

[2018-05-25 10:48] agimenez commented on #136
It worked for me, provided that the actual contents of the package are different. Have you tried to actually generate a new package with same version, but different contents?

[2018-05-25 11:01] agimenez commented on #141
@krobertson PR issued, can you please take a look at it?

Thanks,
L. Alberto

[2018-05-30 13:05] pbeeson commented on #136
I believe my testing was building packages with identical content.  This "feature" of only failing if the files exist, *but are different* wasn't clear in the documentation.

[2018-05-30 14:11] agimenez commented on #136
@pbeeson can you check please if the PR matches your expectations?

Thanks!

[2018-05-30 15:08] agimenez commented on #136
@krobertson care to take a look, please?

Thanks.

[2018-07-11 17:37] #141 closed

[2018-07-11 17:37] #55 closed

[2018-07-11 17:37] #136 closed

[2018-07-23 08:18] jonas0616 opened #149 "error in deb-s3 show: wrong number of arguments"
`deb-s3 show` is broken in `v1.10.0`, which works as a charm in `v0.9.3`

Command:
[code]

Result:
[code]

[2018-07-23 08:31] msupinodn opened #150 "error in deb-s3 verify"
running deb-s3 verify on a s3 bucket yells

Traceback (most recent call last):
	12: from /usr/local/bin/deb-s3:23:in `<main>'
	11: from /usr/local/bin/deb-s3:23:in `load'
	10: from /var/lib/gems/2.5.0/gems/deb-s3-0.10.0/bin/deb-s3:9:in `<top (required)>'
	 9: from /var/lib/gems/2.5.0/gems/thor-0.19.4/lib/thor/base.rb:444:in `start'
	 8: from /var/lib/gems/2.5.0/gems/thor-0.19.4/lib/thor.rb:369:in

[2018-08-02 00:36] uberbrady opened #152 "S3-backed configuration configuration file?"
So I've been toying with this tool and think it's *great*! I'm going to use it to power a private internal repo at my job.

But one thing I'm a little worried about is sharing this tool with my co-workers - if they make a simple mistake, like not putting `--preserve-versions` in, or forgetting to specify a 'codename' like `-c stretch` or `-c jessie` or whatever - that they will stomp all over my v

[2018-08-31 21:27] rdodev opened #155 "Re-genning `deb-s3` binary"
Hey folks,

I've been out of the ruby build loop for years and now I'm at a loss how to generate a new versions of the `deb-s3` binary with some code changes I made. Any pointers how to get this done? Your help is much appreciated.

[2018-09-22 13:55] drnic opened #157 "The authorization header is malformed; the Credential is mal-formed; expecting "<YOUR-AKID>/YYYYMMDD/REGION/SERVICE/aws4_request"."
Installing deb-s3 0.10 + its aws dependencies and I'm now getting the following error. I'm unsure when this error began in our pipeline as the pipeline itself was deleted + moved around so we lost build history.

Ideas for debugging?

[code]

[2018-09-22 19:54] drnic commented on #157
Issue resolved. I had switched access key & secret key in my configuration. Therefore the `Credential` had a secret key in it; but is supposed to have an access key in it.

[2018-09-22 19:54] #157 closed

[2018-09-24 16:18] krobertson commented on #157
@drnic glad you got it sorted... I handed over further development after 0.9 to someone else, but never updated the readme, they are working off of their own fork of the repo, and they didn't update the gemspec either.

I'll likely send them a PR to update the gemspec for the next version. Their fork is here: https://github.com/optanix/deb-s3

[2018-10-17 15:55] erikhh opened #160 "Can't upload packages built with Ubuntu Bionic"
When I try to `deb-s3 upload` a package that we built on Ubuntu Bionic deb-s3 errors like so:

[code]

When I rebuilt the same package on Ubuntu Xenial it uploads fine.
On Ubuntu Bionic the dpkg-deb version is 1.19.0.5 (amd64).
On Ubuntu Xenial the dpkg-deb version is 1.18.4 (amd64).

It seems that `control.tar.gz` is called `control.tar.xz` in the newer version. The same is true for `data.tar.gz`

[2018-10-25 21:52] logicminds opened #161 "create signed repo"
I am trying to follow this blog here and in order to have signed repositories.  Can deb-s3 generate a distrubution file for me automatically?

[code]

http://blog.jonliv.es/blog/2011/04/26/creating-your-own-signed-apt-repository-and-debian-packages/

[2018-11-08 21:41] eriksw opened #162 "Security: deb-s3 incorporates existing release/manifests without verifying signatures"
When performing operations such as uploading a package, deb-s3 fetches existing manifest and release files and trusts them fully without verifying that they are signed by a trusted key. This allows for the security provided by apt repository signing to be defeated:

1.  Adversary with ability to write to the bucket but without the signing key uploads a malicious package(s) and updated but unsigned

[2018-11-12 19:52] #161 closed

[2018-12-04 15:51] gevial commented on #118
Just hit this error and spent like 2 hours to figure out what's going on. The reason was that Amazon added new security feature enabled by default:
[code]
Disabling this made upload successful.

[2019-01-17 06:17] viganapa commented on #118
Thanks gevial. That helped!

[2019-01-28 10:12] carlhoerberg commented on #160
Seems to be fixed in https://github.com/krobertson/deb-s3/pull/158

[2019-03-25 11:06] Vasil-Petrov commented on #150
This bug is from Jul 23, 2018. Any plans for fixing it ?

[2019-05-17 20:23] Kalmalyzer commented on #150
(This is fixed in PR #151)

[2019-06-05 18:43] kpmueller commented on #160
Ran into this issue today as well

[2019-08-14 14:15] tomelliff commented on #162
Why are you allowing untrusted users write access to your S3 buckets?

[2019-08-19 19:08] eriksw commented on #162
@tomelliff Ideally, that would of course never happen. However, at-rest compromise of package repositories(/mirrors) does happen, that's a part of why the ability for signing to happen offline is a feature of most robust update/distribution schemes.

The issue here is that deb-s3 undermines that by blindly trusting the at-rest repo, treating the signature as just a thing to be done so that clients

[2020-07-07 19:39] P05TPWND commented on #160
I too ran into this problem today...
It seems the fix was never merged into the master branch (likely due to this no longer being maintained). That said, I went to my local installation of packages.rb (`/Library/Ruby/Gems/2.6.0/gems/deb-s3-0.10.0/lib/deb/s3/package.rb` on Mac) and copied the changes from this [commit](https://github.com/braxton9460/deb-s3/commit/877bdb13b510d0232aea1e4cad63e569ef2

[2020-07-08 06:56] morph027 opened #169 "Maintainers: This is not the repo you're looking for!"
First of all, thank you @krobertson for deb-s3! :tada: :+1:

I'm trying to revive this repo (was lucky enough to achive this for [proxmoxer](https://github.com/proxmoxer/proxmoxer) aswell) here: https://github.com/deb-s3/deb-s3

You can fork, create PR's and so on like before, but this time the repo is inside an organization, which allows me to add more maintainers. I'd like to invite more maintai

[2020-07-08 08:46] morph027 commented on #169
Disclaimer: I'm just trying to kickstart things, i'm not really a ruby developer. So it would be great if there are some ruby guys stepping up for code review and so on as i don't want to ruin the project ;) Also, it would be awesome, if we can speed up development with more maintainers :racehorse:

[2020-07-14 18:33] trulyronak commented on #169
(not a ruby developer) just wanted to say thanks for reviving the project! `deb-s3` is a really useful project and I'm glad it's being worked on again

[2020-11-04 14:22] haron commented on #169
@morph027 thank you for maintaining the fork of deb-s3, it helps a lot.

[2021-02-08 21:19] rathboma opened #170 "Add link to the active fork & transfer gem ownership?"
Hey @krobertson,

Looks like there's an active fork at https://github.com/deb-s3/deb-s3

Hoping you can:
1. Simply add the link to the readme?
2. Transfer gem ownership to the new repo maintainers?

Thanks!

[2022-01-15 03:07] rathboma commented on #170
@krobertson if you have 2 mins, this would be super helpful to lots of folks!